<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- header-scripts -->
    <div th:replace="~{includes/admin-header :: div}"></div>
    <!-- header-scripts end -->
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                            <div class="card-body">
                                <form th:action="@{/auth/login}" method="post">
                                    <div>
                                        <li class="alert alert-success" role="alert"
                                            th:if="${!#strings.isEmpty(logoutMsg)}"
                                            th:text="${logoutMsg}" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputEmail" type="text" placeholder="johndoe@example.com or johndoe119" name="username" />
                                        <label for="inputEmail">Email address or Username <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputPassword" type="password" placeholder="********" name="password" />
                                        <label for="inputPassword">Password <span class="text-danger">*</span></label>
                                    </div>
                                    <div>
                                        <li class="alert alert-danger" role="alert"
                                            th:if="${!#strings.isEmpty(errorMsg)}"
                                            th:text="${errorMsg}" />
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                        <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="password.html">Forgot Password?</a>
                                        <button class="btn btn-primary" type="submit">Login</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- footer -->
    <div th:replace="~{includes/admin-auth-footer :: div}"></div>
    <!-- footer end -->
</div>
<!-- footer-scripts -->
<div th:replace="~{includes/admin-footer-scripts :: div}"></div>
<!-- footer-scripts end -->
</body>
</html>
