<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- header-scripts -->
    <div th:replace="~{includes/admin-header :: div}"></div>
    <!-- header-scripts end -->
</head>
<body class="sb-nav-fixed">
<!-- nav -->
<div th:replace="~{includes/admin-nav :: nav}"></div>
<!-- nav end -->
<div id="layoutSidenav">
    <!-- side-nav -->
    <div th:replace="~{includes/admin-side-nav :: div}"></div>
    <!-- side-nav end -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Posts</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/user/}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Posts</li>
                </ol>
                <div th:if="${message != null}" class="card mb-4">
                    <div class="card-body">
                        <li th:class="${'alert alert-'+alertColor}" role="alert"
                            th:if="${!#strings.isEmpty(message)}"
                            th:text="${message}" />
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-users me-1"></i>
                        Posts
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Status Message</th>
                                    <th>Status Message Details</th>
                                    <th>Created At</th>
                                    <th>Created By</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="post, iter: ${posts}" th:if="${person.id == post.getPerson().id || person.getRole().roleName == 'ROLE_ADMIN'}">
                                    <td th:text="${iter.index+1}"></td>
                                    <td th:text="${post.title}"></td>
                                    <td th:text="${post.status}"></td>
                                    <td th:text="${post.statusMessage}"></td>
                                    <td th:text="${post.statusMessageDetails}"></td>
                                    <td th:text="${T(com.iykescode.blog.mikeybloggingwebapp.util.DateFormatUtil).getPrettyDate(post.createdAt)}"></td>
                                    <td th:text="${post.createdBy}"></td>
                                    <td>
                                        <a class="btn btn-dark text-white" data-toggle="modal" th:attr="data-target='#'+${post.id}">View</a>
                                        <!-- Modal -->
                                        <div class="modal fade" th:attr="id=${post.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel" th:text="${'View Post: ' + post.title}"></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
<!--                                                        <img src="/frontend/images/blog/2.jpg" alt="" class="img-fluid rounded">-->
                                                        <img th:each="img: ${post.getPostImage()}" th:src="${imagePath + img.image}" alt="" class="img-fluid rounded">
                                                        <p th:utext="${post.content}"></p>
                                                        <p><span class="fw-bold">Quote: </span><span th:text="${post.quote}"></span></p>
                                                        <p>
                                                            <span class="fw-bold">Created At: </span>
                                                            <span th:text="${T(com.iykescode.blog.mikeybloggingwebapp.util.DateFormatUtil).getPrettyDate(post.createdAt)}"></span>
                                                            <span>by: </span>
                                                            <span><a target="_blank" href="" th:text="${post.createdBy}"></a></span>
                                                        </p>
                                                        <hr>
                                                        <p><span class="fw-bold">Category: </span><span th:text="${post.getCategory().getName()}"></span></p>
                                                        <hr>
                                                        <p><span class="fw-bold">Tags: </span><span th:text="${post.tags}"></span></p>
                                                        <hr>
                                                        <p><span class="fw-bold">Reason for being Unapproved: </span><span th:text="${post.statusMessageDetails}"></span></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <a th:href="@{/user/posts/upload-image/{slug}(slug=${post.slug})}" class="btn btn-primary">Upload Image</a>
                                                        <a th:href="@{/user/posts/edit/{id}(id=${post.id})}" class="btn btn-dark">Edit</a>
                                                        <form th:action="@{/user/posts/republish/{id}(id=${post.id})}" th:method="patch">
                                                            <button type="submit" class="btn btn-success">Republish</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger text-white" data-toggle="modal" th:attr="data-target='#'+${'delete'+post.id}">Delete</a>
                                        <!-- Modal -->
                                        <div class="modal fade" th:attr="id=${'delete'+post.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModal" th:text="${'Delete post: ' + post.title + ' ?'}"></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to draft this post? This action cannot be undone.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <form th:action="@{/user/posts/delete/{id}(id=${post.id})}" th:method="delete">
                                                            <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <!-- footer -->
        <div th:replace="~{includes/admin-footer :: footer}"></div>
        <!-- footer end -->
    </div>
</div>
<!-- footer-scripts -->
<div th:replace="~{includes/admin-footer-scripts :: div}"></div>
<!-- footer-scripts end -->
</body>
</html>
