<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- header-scripts -->
    <div th:replace="~{includes/admin-header :: div}"></div>
    <!-- header-scripts end -->

    <!-- TinyMCE Library -->
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.tiny.cloud/1/ozj2ier3ax23yv74mu53hlqhucl1alc9n3hgue41rcczxc3w/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Chosen Select Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
</head>
<body class="sb-nav-fixed">
<!-- nav -->
<div th:replace="~{includes/admin-nav :: nav}"></div>
<!-- nav end -->
<div id="layoutSidenav">
    <!-- side-nav -->
    <div th:replace="~{includes/admin-side-nav :: div}"></div>
    <!-- side-nav end -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Posts</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/user/}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/user/posts}">Posts</a></li>
                    <li class="breadcrumb-item active">Create a new post</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-users me-1"></i>
                        Posts / Edit
                    </div>
                    <div class="card-body">
                        <div th:if="${post.id == null}">
                            <form th:action="@{/user/posts/create}" th:method="post" th:object="${post}">
                                <div class="form-floating mb-3">
                                    <input th:field="*{title}" th:errorclass="border-danger"
                                           class="form-control" id="inputTitle" type="text" placeholder="This is a title" />
                                    <label for="inputTitle">Title <span class="text-danger">*</span></label>
                                    <ul>
                                        <li class="text-danger" role="alert" th:each="error : ${#fields.errors('title')}" th:text="${error}" />
                                    </ul>
                                </div>
                                <div class="form-floating mb-3">
                                    <input th:field="*{quote}" th:errorclass="border-danger"
                                           class="form-control" id="inputQuote" type="text" placeholder="This is a quote" />
                                    <label for="inputQuote">Quote</label>
                                    <ul>
                                        <li class="text-danger" role="alert" th:each="error : ${#fields.errors('quote')}" th:text="${error}" />
                                    </ul>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <select th:field="*{tags}" th:errorclass="border-danger" data-placeholder="Begin typing a tag name to filter..." multiple id="inputTags" class="form-select chosen-select">
                                                <option value=""></option>
                                                <option th:each="tag: ${tags}" th:value="${tag.name}" th:text="${tag.name}"></option>
                                            </select>
                                            <ul>
                                                <li class="text-danger" role="alert" th:each="error : ${#fields.errors('tags')}" th:text="${error}" />
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input th:field="*{newTag}" th:errorclass="border-danger"
                                                   class="form-control" id="inputNewTag" type="text" placeholder="This is a new Tag" />
                                            <label for="inputNewTag">New Tag</label>
                                            <ul>
                                                <li class="text-danger" role="alert" th:each="error : ${#fields.errors('newTag')}" th:text="${error}" />
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <select th:field="*{formCategory}" th:errorclass="border-danger" class="form-select" id="inputCategory">
                                        <option value=""></option>
                                        <option th:each="cat: ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                                    </select>
                                    <label for="inputCategory">Category <span class="text-danger">*</span></label>
                                    <ul>
                                        <li class="text-danger" role="alert" th:each="error : ${#fields.errors('formCategory')}" th:text="${error}" />
                                    </ul>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea cols="5" rows="5" th:field="*{content}" th:errorclass="border-danger"
                                              class="form-control" id="inputContent" placeholder="This is a content"></textarea>
                                    <label for="inputContent">Content <span class="text-danger">*</span></label>
                                    <ul>
                                        <li class="text-danger" role="alert" th:each="error : ${#fields.errors('content')}" th:text="${error}" />
                                    </ul>
                                </div>
                                <div class="mt-4 mb-0">
                                    <div class="d-grid"><button type="submit" class="btn btn-dark btn-block">Create Post</button></div>
                                </div>
                            </form>
                        </div>
                        <div th:if="${post.id != null}">
                            <form th:action="@{/user/posts/update/{id}(id=${post.id})}" th:method="patch" th:object="${post}">
                                <div class="form-floating mb-3">
                                    <input th:field="*{title}" th:errorclass="border-danger"
                                           class="form-control" id="editTitle" type="text" placeholder="This is a title" />
                                    <label for="editTitle">Title <span class="text-danger">*</span></label>
                                    <ul>
                                        <li class="text-danger" role="alert" th:each="error : ${#fields.errors('title')}" th:text="${error}" />
                                    </ul>
                                </div>
                                <div class="form-floating mb-3">
                                    <input th:field="*{quote}" th:errorclass="border-danger"
                                           class="form-control" id="editQuote" type="text" placeholder="This is a quote" />
                                    <label for="editQuote">Quote</label>
                                    <ul>
                                        <li class="text-danger" role="alert" th:each="error : ${#fields.errors('quote')}" th:text="${error}" />
                                    </ul>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="userTags" type="text" th:value="${post.tags}" placeholder="Tags" disabled />
                                    <label for="userTags">Current Tags</label>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <select th:field="*{tags}" th:errorclass="border-danger" data-placeholder="Begin typing a tag name to filter..." multiple id="editTags" class="form-select chosen-select">
                                                <option value=""></option>
                                                <option th:each="tag: ${tags}" th:value="${tag.name}" th:text="${tag.name}"></option>
                                            </select>
                                            <ul>
                                                <li class="text-danger" role="alert" th:each="error : ${#fields.errors('tags')}" th:text="${error}" />
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input th:field="*{newTag}" th:errorclass="border-danger"
                                                   class="form-control" id="editNewTag" type="text" placeholder="This is a new Tag" />
                                            <label for="editNewTag">New Tag</label>
                                            <ul>
                                                <li class="text-danger" role="alert" th:each="error : ${#fields.errors('newTag')}" th:text="${error}" />
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <select th:field="*{formCategory}" th:errorclass="border-danger" class="form-select" id="editCategory">
                                        <option th:if="${post.getCategory().id != null}" th:value="${post.getCategory().id}" th:text="${post.getCategory().name}"></option>
                                        <option th:each="cat: ${categories}" th:value="${cat.id}" th:text="${cat.name}" th:if="${cat.id != post.getCategory().id}"></option>
                                    </select>
                                    <label for="editCategory">Category <span class="text-danger">*</span></label>
                                    <ul>
                                        <li class="text-danger" role="alert" th:each="error : ${#fields.errors('formCategory')}" th:text="${error}" />
                                    </ul>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea cols="5" rows="5" th:field="*{content}" th:errorclass="border-danger"
                                              class="form-control" id="editContent" placeholder="This is a content"></textarea>
                                    <label for="editContent">Content <span class="text-danger">*</span></label>
                                    <ul>
                                        <li class="text-danger" role="alert" th:each="error : ${#fields.errors('content')}" th:text="${error}" />
                                    </ul>
                                </div>
                                <div class="mt-4 mb-0">
                                    <div class="d-grid"><button type="submit" class="btn btn-dark btn-block">Update Post</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- footer -->
        <div th:replace="~{includes/admin-footer :: footer}"></div>
        <!-- footer end -->
    </div>
</div>
<!-- footer-scripts -->
<div th:replace="~{includes/admin-footer-scripts :: div}"></div>
<!-- footer-scripts end -->

<script>
    $(".chosen-select").chosen({
        no_results_text: "No fields match for"
    })

    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>
</body>
</html>
