<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">

        <meta name="author" content="themefisher.com">

        <title th:text="${title}"></title>

        <!-- bootstrap.min css -->
        <link rel="stylesheet" href="/frontend/plugins/bootstrap/css/bootstrap.min.css">
        <!-- Icon Font Css -->
        <link rel="stylesheet" href="/frontend/plugins/themify/css/themify-icons.css">
        <link rel="stylesheet" href="/frontend/plugins/fontawesome/css/all.css">
        <link rel="stylesheet" href="/frontend/plugins/magnific-popup/dist/magnific-popup.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="/frontend/plugins/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="/frontend/plugins/slick-carousel/slick/slick-theme.css">

        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="/frontend/css/style.css">
    </div>
</body>
</html>